.header-bar {
  background: linear-gradient(to top, #D0E6FD, #369BFF);
}


.back {
  color: #333;
  text-decoration: none;
}

.card {
  background: linear-gradient(to top,#FFFFFF,#DBF3FF);
  box-shadow: 0 8px 10px;
  border: none;
}


.carousel-caption {
  background-color:#DBF3FF;
}

a {
  color: inherit;
  text-decoration: none;
}
